{# AppBundle/Resources/views/about.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1 align="center">Environment Monitoring System</h1>
    <br>
    <div style="padding: 20px 0 10px 100px;">
        <p>Developed for the semester project of <b>CS 3042 Database Systems</b> module in semester 4.</p>.
        <p>Developer team -</p>
        <ul>
            <li>Nadheesh Jihan</li>
            <li>Shehan Wickramarathne</li>
            <li>Yasas Senarath</li>
            <li>Dulanjaya Tennekoon</li>
        </ul>

    </div>
{% endblock %}