{# AppBundle/Resources/views/about.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1 align="center">About</h1>
    <p align="center">
        Just for FUN!!
    </p>
{% endblock %}