{# AppBundle/Resources/views/home.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1 align="center" class="text-primary">
        Welcome
    </h1>
    {#<img src="http://www.bittersandjiggers.com/icons/icon_6496.png" alt="App Logo" align="middle" style="width:30%;height:40%; position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%)">#}
    <img class="img-responsive center-block" src="{{ asset('bundles/framework/images/app_logo.png') }}" alt="App Logo" align="middle"
         style=" height: 65vh;
    overflow: auto;">

{% endblock %}