{# AppBundle/Resources/views/home.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1 align="center">
        Welcome
    </h1>
    <img src="http://www.bittersandjiggers.com/icons/icon_6496.png" alt="Mountain View" align="middle" style="width:30%;height:40%; position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%)">

{% endblock %}