{# AppBundle/Resources/views/location/areas.html.twig #}
{% extends 'AppBundle::base.html.twig' %}
 {% block otherstylesheets %}
     {#Sidebar style#}
     <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportAreaSideBarStyle.css') }}"/>
 {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="header">
            <h1>
                Districts
            </h1>
            <hr>
        </div>
    </div>
    <div class="container">
        <ul class="list-unstyled">
            {% for area in areas %}
                {% if area.name|trim is not empty %}
                    <li class="col-md-3"><h3><a  href="{{ path('locationAreaView', {'viewArea':  area.name}) }}">{{ area.name }}</a>
                        </h3>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>

    {% if (js is defined) %}{{ js|raw }}{% endif %}
{% endblock %}