h2 {
    color: #009688;
    text-align: center;
}

#areaReadings {
    /*padding: 25px 40px 25px 40px;*/
    background-color: #eaeaea;
    border: 10px solid #9e9e9e;
    color: #2196F3;
    border-radius: 10px;
}

/*#map {*/
    /*height: 468px;*/
    /*width: 45vw;*/

/*}*/


html, body {
    height: 70%;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}


#content{
    height: 95%;
}

.margin , #mapColumn , #mapContainer, #map , .height100{
    height: 100%;
}

#nameColumn{
    height: 100%;
}

.height100 > ul{
    overflow: auto;
}