html, body {
    height: 90%;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

#content{
    height: 100%;
}

.margin , #mapColumn , #mapContainer, #map{
    height: 95%;
}

#tableContainer{
    height: 100%;
}

.table{
    height: 88%;
}
#nameColumn{
    height: 100%;
    overflow: auto;
}


h3{
    margin-left: 1%;
    color: #337ab7;

}