html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

#content{
    height: 100%;
}

.margin , #mapColumn , #mapContainer, #map{
    height: 88%;
}

#nameColumn{
    height: 100%;
    overflow: auto;
}
