body {
    color: #6c6159;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

span {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
    margin-top: 150px;
}

.wrath-content-box {
    padding: 15px;
}