/*body {*/
/*color: #202020;*/
/*margin: 0;*/
/*padding: 0;*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

/*span {*/
/*color: #202020;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-size: 18px;*/
/*}*/

/*p {*/
/*color: #202020;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-size: 10px;*/
/*}*/

/*.col-centered {*/
/*float: none;*/
/*margin: 0 auto;*/
/*margin-top: 150px;*/
/*}*/

/*.wrath-content-box {*/
/*padding: 15px;*/
/*}*/

/*@import "bourbon";*/

body {
    background: #eee !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    border-radius: 10px;
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
@include box-sizing(border-box);
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
