body {
    /*background-color: #E0E0E0;*/
}

/*.formContainer {*/
    /*padding: 50px;*/
    /*background-color: #00897B;*/
    /*color: white;*/
    /*border-radius: 10px;*/
/*}*/


.formContainer {
    padding: 25px 40px 25px 40px;
    background-color: #eaeaea;
    border: 10px solid #EFEFEF;
    color: #2d5c8a;
    border-radius: 10px;

    float: none;
    margin: 0 auto;
}

#headings {
    color: #9C27B0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    font-weight: normal;
    /*color: #222;*/
}

#errorMsg {
    margin: 15px 0;
    padding: 15px;
    color: #D8000C;
    background-color: #FFBABA;
}