h1 {
    padding: 10px;
    color: #009688;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 50%;
    border-collapse: collapse;
    padding: 10px;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 50px;
    transition: all 0.3s; /* Simple transition for hover effect */
}

td {
    color: #FF5722;
    background: #F5F5F5;
    text-align: left;
    padding: 5px;
}

/* Cells in even rows (2,4,6...) are one color */
tr {
/ / color:;
    text-align: center;
    background: #F5F5F5;
    padding: 5px;
}

#areaMean {

}
#errorMsg{
    margin: 10px 0px;
    padding:12px;
    color: #D8000C;
    background-color: #FFBABA;
}

/*background: #FEFEFE;*/

/*tr td:hover {*/
/*background: #666;*/
/*color: #FFF;*/
/*}*/

/* Hover cell effect! */