body {
    /*background-color: #E0E0E0;*/
}

#loctionHeading {
    color: #E91E63;
}

#locationCoordinates {
    text-align: center;
    padding: 5px 0 25px 0;
    color: #EC407A;
}

#section0 {
    /*padding-top: 50px;*/
    height: 65vh;
    /*color: #000;*/
    background-color: #00796B;
    padding-top: 100px;
    overflow: auto;
    /*max-height:100%;*/
    /*margin-bottom: 5px;*/
}

#section1 {
    /*height: 370px;*/
    color: #fff;
    height: 65vh;
    background-color: #009688;
    padding: 100px 0 100px 0;
    overflow: auto;
    /*max-height:100%;*/
}

#installedSensors {
    padding: 5px 0 25px 50px;
    color: #FFFFFF;
}

#sensorReadings {
    padding: 0 0 25px 50px;
    /*color: #FFFFFF;*/
}

#sensorInformation table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 75%;
    border-collapse: collapse;
    margin: 10px;

}

#sensorInformation th {
    font-weight: bold;
    border-bottom: #000000 1px solid;
}

#sensorInformation td, #sensorInformation th {
    /*border: 1 px solid; !* No more visible border *!*/
    height: 45px;
    transition: all 0.3s; /* Simple transition for hover effect */

}

#sensorInformation #sensorIdLink a {
    color: #EEEEEE;
    text-decoration: none;
}

#sensorInformation #sensorReadingLink a {
    color: #FFC400;
    text-decoration: none;
}

#sensorInformation th {
    text-align: center;
    /*border-bottom: 1 px solid #000;*/
}

#sensorInformation td {
    /*color: #FF5722;*/
    /*background: #F5F5F5;*/
    text-align: center;
    /*padding: 5 px;*/
}

#sensorInformation tr {
    text-align: center;
    /*background: #F5F5F5;*/
    /*padding: 5 px;*/
}

#sensorReading table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 50%;
    border-collapse: collapse;
    margin: 10px;
}

#sensorReading td, #sensorReading th {
    border: 1px solid transparent; /* No more visible border */
    height: 50px;
    transition: all 0.3s; /* Simple transition for hover effect */

}

#sensorReading th {
    text-align: center;
    border-bottom: 1px solid #000;
}

#sensorReading td {
    /*color: #FF5722;*/
    /*background: #F5F5F5;*/
    text-align: center;
    /*padding: 5 px;*/
}

#sensorReading tr {
    text-align: center;
    /*background: #F5F5F5;*/
    /*padding: 5 px;*/
}

#errorMsg {
    margin: 15px 0;
    padding: 15px;
    color: #D8000C;
    background-color: #FFBABA;
}

#locationReadings {
    padding: 10px 40px 5px 40px;
    background-color: #eaeaea;
    border: 10px solid #EFEFEF;
    color: #009688;
    border-radius: 10px;
    float: none;
    margin: 0 auto;
}

#locationReadings table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 75%;
    border-collapse: collapse;
    padding: 10px;
}

#locationReadings td, #locationReadings th {
    border: 1px solid transparent; /* No more visible border */
    height: 50px;
    transition: all 0.3s; /* Simple transition for hover effect */
}

#locationReadings td {
    color: #FF5722;
    /*background: #F5F5F5;*/
    text-align: left;
    padding: 5px;
}

#locationReadings tr {
    text-align: center;
    /*background: #F5F5F5;*/
    padding: 5px;
}

/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
    text-decoration: none;
}

.tab-links a:hover {
    background: #80CBC4;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #26A69A;
    color: #4c4c4c;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}