body {
    /*background-color: #E0E0E0;*/
}


#sensorReading {
    height: 63vh;
    overflow: auto;
}

#errorMsg {
    margin: 15px 0;
    padding: 15px;
    color: #D8000C;
    background-color: #FFBABA;
}


p {
    margin: 10px 15px;
    padding: 12px 12px 12px 12px;
    color: #000;
    background-color: #fff;
    /*border: 1px solid #2d5c8a;*/
    border-radius: 5px;
}

.component, .row {
    width: 80%;
    margin: 0 auto;

}

table {
    font-family: Helvetica, Arial, sans-serif;

}

.customHeader th {
    cursor: pointer;
    font-size: 18px;
    text-shadow: 2px 2px 2px #2d5c8a;
    color: #fff;
}

tbody tr:hover {
    background-color: #C5E3FF;
}

th {
    color: #fff;

}

/*------------------border------------*/
th {

    border-bottom: 1px solid #9d9d9d;
    border-top: 1px solid #9d9d9d;
    background-color: #2d5c8a;
    font-size: 15px;
}

table, thead, th {
    /*border:1px solid #5E976E;*/
    border-bottom: 1px solid #2d5c8a;
}

tr, td {
    border: transparent;
}

/*----------------------------------------*/
/*----------------scrollable----------------*/

tbody {
    display: block;
    height: 55vh;
    overflow: auto;
}

td {
    color: #000000;
    background: transparent;
    text-align: left;
    padding: 7px;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}

/*--------------------------------------------*/
thead {
    width: calc(100% - 20px) /* scrollbar is average 1em/16px width, remove it from thead width */
}

/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
    text-decoration: none;
}

.tab-links a:hover {
    background: #80CBC4;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #26A69A;
    color: #fff;
}

/*----- Content of Tabs -----*/
.tab-content {
    /*padding: 5px;*/
    /*border-radius: 3px;*/
    /*box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);*/
    /*background: #fff;*/
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}