/*#sidebar li*/
/*{*/
/*display: inline;*/
/*list-style-type: none;*/
/*padding-right: 20px;*/
/*}*/
#sidebar.li {
    padding: 30px 25px 30px 25px;
    /*background: url(index.php?img=pngPlugin) 2px 50% no-repeat;*/
/ / color: black;
}

.container .list-unstyled .col-md-3 a {
    color: #009688;
    font-weight: bold;
    text-decoration: none;
}

.container .list-unstyled .col-md-3 a:hover, a:visited, a:link, a:active {
    color: #80CBC4;
    text-decoration: none;
}
