/*tr {*/
/*width: auto;*/
/*min-width: 100%;*/
/*display: inline-table;*/
/*}*/

/*table{*/
/*height:300px;*/
/*width: auto;*/
/*min-width: 100%;*/
/*}*/

/*tbody{*/
/*height: 60vh;*/
/*overflow: auto;*/
/*width: auto;*/
/*position: absolute;*/

/*}*/

table, #searchContainer {
    font-family: Helvetica, Arial, sans-serif;
}

.customHeader th {
    cursor: pointer;
    font-size: 18px;
    text-shadow: 2px 2px 2px #2d5c8a;
    color: #fff;
}

.customPointer{
    cursor: pointer;
}
tbody tr:hover {
    background-color: #C5E3FF;
}

#searchContainer {
    padding: 1% 2% 1% 2%;
    /*background-color: #009688;*/
    /*color: #fff;*/
    font-size: 15px;

}

/*------------------border------------*/
th {

    border-bottom: 1px solid #9d9d9d;
    border-top: 1px solid #9d9d9d;
    background-color: #2d5c8a;
    font-size: 15px;
}

table, thead, th {
    /*border:1px solid #5E976E;*/
    border-bottom: 1px solid #2d5c8a;
}

tr, td {
    border: transparent;
}

/*tr{*/
/*border-right:1px solid #CCCCCC ;*/
/*border-left:1px solid #ccc ;*/
/*}*/

/*----------------------------------------*/
/*----------------scrollable----------------*/

tbody {
    display: block;
    height: 55vh;
    overflow: auto;
}

td {
    color: #000000;
    background: transparent;
    text-align: left;
    padding: 7px;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}

/*--------------------------------------------*/
thead {
    width: calc(100% - 19px) /* scrollbar is average 1em/16px width, remove it from thead width */
}

#tableContainer {
    margin-right: 0;
    margin-left: 0;

}

#sensorId a {
    color: #337ab7;
    background: transparent;
    text-align: left;
    padding: 10px;
}

p {
    margin: 10px 15px;
    padding: 12px 12px 12px 12px;
    color: #000;
    background-color: #fff;
    /*border: 1px solid #2d5c8a;*/
    border-radius: 5px;
}

#typeTable table tbody {
    height: auto;
}

#typeTable table {
    width: 70%;
    margin: 0 auto;
}

#typeTable {
    margin-top: 5%;
}

#typeTable th {
    color: #fff;
}


/*---------------------Scroll bar------------------------------------------------*/
/* Chrome, Safari */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track-piece  {
    background-color: #dfdfdf;
    border-radius: 1em;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #C5E3FF;
    border-radius: 1ex;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

}