
/*tr {*/
    /*width: auto;*/
    /*min-width: 100%;*/
    /*display: inline-table;*/
/*}*/

/*table{*/
    /*height:300px;*/
    /*width: auto;*/
    /*min-width: 100%;*/
/*}*/

/*tbody{*/
    /*height: 60vh;*/
    /*overflow: auto;*/
    /*width: auto;*/
    /*position: absolute;*/

/*}*/


.customHeader th {
    cursor: pointer;
}

/*#sensorListContainer{*/
    /*margin-top:50px;*/
    /*height: 60vh;*/
    /*overflow: auto;*/
/*}*/

thead ,th {
    border:1px solid #9d9d9d
}

table ,tr {
    border:1px solid #9d9d9d;

}
tbody {
    display:block;
    height:60vh;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
/*thead {*/
    /*width: calc( 100% - 0 )!* scrollbar is average 1em/16px width, remove it from thead width *!*/
/*}*/

#tableContainer{
    margin-right: 0;
    padding-right: 4%;
}