{# AppBundle/Resources/views/security/login.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
{% endblock stylesheets %}

{% form_theme form 'AppBundle:Form:bootstrap_3_layout.html.twig' %}

{# To remove the nevigation bar on login page #}
{# {% block nevigationbar %} {% endblock %} #}

{% block body %}
    <h1>Employee</h1>
    <dev class="container-fluid">
        <div class="col-md-2">
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </dev>
{% endblock body %}