{# AppBundle/Resources/views/security/login.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/addFormFixedStyle.css') }}"/>

{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% form_theme form 'AppBundle:Form:bootstrap_3_layout.html.twig' %}

{# To remove the nevigation bar on login page #}
{# {% block nevigationbar %} {% endblock %} #}

{% block body %}
    <h1 align="center">Register</h1>

    <dev>
        <div class="container" align="center">
            <div class="container formContainer" align="left">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </dev>
{% endblock body %}