{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
{% endblock stylesheets %}

{% form_theme form 'AppBundle:Form:bootstrap_3_layout.html.twig' %}

{% block body %}
    <dev class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Submit" class="btn btn-default pull-right"/>
            {{ form_end(form) }}
        </div>
    </dev>
{% endblock body %}