{% extends 'AppBundle::base.html.twig' %}


{% block body %}

    <h1 align="center">
        Sensor
    </h1>

    <ul>
        {% for sensor in sensors %}

            {% if sensor.getSensorId|trim is not empty %}
                <li><h3><a href="#"> {{ sensor.getSensorId }}</a></h3></li>
            {% endif %}

        {% endfor %}
    </ul>

{% endblock %}